body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  background-color: lightblue;
}

.app-container {
  text-align: center;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.input-container input {
  margin-right: 5px;
}

.container {
  text-align: center;
  margin-top: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: transparent; /* Set the background to transparent */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Use a more specific selector for the title background */
.App-header h1 {
  background-color: lightblue;
  padding: 10px; /* Adjust padding as needed */
  z-index: 1; /* Ensure the title is rendered above other elements */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}






