/* Title.css */
.app-title {
    font-size: 5em; /* Adjust the font size as needed */
    color: black; /* Set your preferred text color */
    margin-top: -20px; /* Add some bottom margin for spacing */
  }